body
{
    background: url(/assets/img/bmi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(0.6px);
    z-index: 1;
}
.container
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    right: 0%;
    z-index: 2;
}
input
{
    border: 2px solid cyan;
    border-radius: 20px;
}
input:focus
{
    border: none;
}
#result
{
    border: 2px solid blue;
    z-index: 9999;
    font-size: 22px;
}